app-localstorage-document(
  key='token',
  data='{{token}}')

.container
  paper-input( label='Picture URL', value='{{image}}' )
  paper-input( label='Title', value='{{newsTitle}}' )
  paper-textarea( label='Description', value='{{description}}' )
  paper-textarea( label='Content', value='{{content}}' )

paper-toast( id='toast' )

.buttons
  paper-toggle-button( active='{{shareVK}}' ) VK
  paper-button(dialog-confirm, on-click='addNews') Accept
