:host {
  -webkit-tap-highlight-color: transparent;
}

app-header:not([shadow]) {
  border-bottom: 1px solid var(--paper-grey-200);
}

app-drawer {
  --app-drawer-content-container: {
    background-color: #f3f3f3;
  };
}

paper-icon-button {
  border-radius: 50%;
  --iron-icon: {
    border-radius: 50%;
    overflow: hidden;
  };
}

.nav-items {
  @apply --layout-self-start;
  margin-top: 13px;
  width: 80px;
}

.left-items paper-icon-button[icon] {
  display: none;
}

.spacer {
  @apply --layout;
  @apply --layout-flex-auto;
  @apply --layout-center-center;
  @apply --paper-font-title;
}

.logo {
  width: 120px;
  height: 40px;
  background-size: 100% 100%;
}

paper-tabs {
  margin-left: -55px;
  font-size: 13px;
}

paper-tab {
  text-transform: uppercase;
  color: var(--primary-text-color);
  font-weight: 500;
}

.in-development {
  @apply --paper-font-title;
  text-align: center;
  margin: 40px 0;
}

.mobile-menu {
  background: transparent;
}

.list paper-item.active {
  color: black;
  font-weight: bold;
}

.profile-bar {
  margin-bottom: 40px;
}

.profile-picture {
  border-radius: 50% 50%;
}

.profile-name {
  @apply --layout-flex;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #0a3142;
}

/**
 * Desktop small, tablet
 */
@media (max-width: 1280px) {
  .logo {
    width: 89px;
    height: 17px;
  }
}

/**
 * Phone
 */
@media (max-width: 600px) {
  .left-items paper-icon-button[icon=menu] {
    display: block;
  }
  .right-items paper-icon-button {
    display: none;
  }
  paper-tabs {
    display: none;
  }
}
