doctype html
html
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='shortcut icon', href=require('./assets/icons/favicon.png'), type='image/png')
    meta(name='robots', content='noindex')
    title IDE
    style(is='custom-style').
      html {
        --accent-color: var(--paper-green-400);
        --paper-tabs-selection-bar-color: var(--paper-green-400);
      }
      body {
        margin: 0;
      }
  body
    app-main
