doctype html
html
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='shortcut icon', href=require('./assets/icons/favicon.png'), type='image/png')
    meta(name='robots', content='noindex')
    title IDE Admin
    custom-style
      style(is='custom-style')
        include index.css
  body
    app-main
