app-route(route='{{route}}', pattern='/:page', data='{{routeData}}')

.toolbar
  paper-button( on-click='selectPage' ) {{pageName}}

iron-pages(selected='[[routeData.page]]', attr-for-selected='name')
  app-news-all(name='all')
  app-news-add(name='add')
